# =========================================
# 🔧 Node / JS
# =========================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# =========================================
# ⚙️ Builds do Next.js
# =========================================
.next/
out/
dist/
build/
*.log

# =========================================
# ⚙️ Ambiente / Secrets
# =========================================
.env
.env.local
.env.development
.env.production
.env.test
.env.*
*.env

# =========================================
# 🧰 IDEs e SOs
# =========================================
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# =========================================
# 🧪 Testes
# =========================================
coverage/
jest-html-reporters-*
*.spec.ts
*.test.ts
*.spec.js
*.test.js

# =========================================
# 🐋 Docker / Coolify
# =========================================
docker-compose.override.yml
*.pid
*.seed
