.list-item {
  width: 11.11%;
  height: 100%;
  display: flex;
  float: left;
  cursor: pointer;
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
  background-color: #0093d8;
  text-transform: uppercase;
}

.list-item:hover {
  background: #093270;
  border-top: 2px solid #000000;
}

.list-item a:link {
  color: white;
}

.list-item > a:visited {
  color: white;
}

.item-container {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.item-container:hover .item-content {
  display: block;
  z-index: 999;
}

.item-title {
  color: #fff;
  font-size: 0.75em;
  font-family: RobotoSlab;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-title > a {
  text-decoration: none;
}

.item-title > a:visited {
  color: #fff;
}

.item-content {
  background: #093270;
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.item-content a {
  font-family: RobotoSlab;
  font-size: 0.7em;
  color: #fff;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.item-content a :first-child {
  margin-right: 12px;
}

.item-content a:hover {
  background-color: #071f44;
}

.item-border {
  border-right: 0.3px solid #fff;
}
